{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load tags %}

{% block content %}

{% load static %}

{%block head %}
 {% if request.user_agent.is_mobile %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/experience-mob.css' %}" />
 {% else %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/experience.css' %}" />
 {% endif %}
{% endblock %}

{% if request.user_agent.is_mobile %}
    <div class="mt-5">
        <p class="text-center display-4 fw-bold text-purple-2">
            <i class="fa-sharp fa-solid fa-briefcase text-dark"></i> Experience
        </p>
    </div>
{% else %}
    <div class="mt-9-1">
        <p class="text-center display-4 fw-bold text-purple-2">
            <i class="fa-sharp fa-solid fa-briefcase text-dark"></i> Experience
        </p>
    </div>
{% endif %}
    <div class="text-center display-8-raw mb-1"style="color: #c061cb;">
        START
    </div>
    <div class="ball">
        <i class="fa-sharp fa-solid fa-circle fa-2xl" style="color: #c061cb;"></i>
    </div>
    {% if request.user_agent.is_mobile %}
        {% for company in companies%}
            {% if company.display %}
                <div class="experience page-bg">
                    <div class="timeline">
                        {% if company.id|modulo:2 == 0 %}
                            <div class="container right">
                        {% else %}
                            <div class="container left">
                        {% endif %}
                                <div class="card">
                                    <div class="card-front">
                                    <div class="tag">
                                            <p class="display-12 fw-bold">{{ company.name }}</p>
                                        </div>
                                        <div class="desc">
                                            <p class="display-13">{{ company.position }}</p>
                                        </div>
                                    </div>
                                    <div class="card-back large-gap">
                                        <div class="tag-flipped">
                                                <p class="display-15">For more info visit through Desktop</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="mb-5 text-center ball">
            <i class="fa-sharp fa-solid fa-circle fa-2xl" style="color: #c061cb;"></i>
        </div>
    {% else %}
        {% for company in companies%}
            {% if company.display %}
                <div class="experience page-bg">
                    <div class="timeline">
                        {% if company.id|modulo:2 == 0 %}
                            <div class="container right">
                        {% else %}
                            <div class="container left">
                        {% endif %}
                                <div class="card">
                                    <div class="card-front">
                                    <div class="tag">
                                            <p class="display-8 fw-bold">{{ company.name }}</p>
                                        </div>
                                        <div class="desc">
                                                <p class="display-10">{{ company.position }}</p>
                                            {% if not company.finish %}
                                                <p>{{ company.start }} - Present</p>
                                            {% else %}
                                                <p>{{ company.start }} - {{ company.finish }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card-back large-gap">
                                        <div class="tag-flipped">
                                        {% if company.description%}
                                            <div class="desc-flipped">
                                                <p class="display-15">{{ company.description|linebreaks }}</p>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="mb-5 mt-5 text-center ball">
            <i class="fa-sharp fa-solid fa-circle fa-2xl" style="color: #c061cb;"></i>
        </div>
    {% endif %}

    <br><br><br><br>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script>
    const srtop = ScrollReveal({
        distance: '80px',
        duration: 1500,
        reset: true
    });
    srtop.reveal('.container, .ball', {
        delay: 100
    });
    srtop.reveal('.container, .ball', {
        interval: 250
    });
</script>
{% endblock %}