{% extends 'base.html' %}
{% load static %}

{% block title%} <title>Main - Rafael's Portfolio</title>{% endblock %}

{% block content %}

    <div class="mt-7-1">
        {% if request.user_agent.is_mobile %}
            <div class="ms-3">
                <p class="no-underline h1" style="color: #21f5f5;">{{ project.name }}</p>
            </div>
        {% else %}
            <div class="text-center">
                <p class="no-underline h1" style="color: #21f5f5;">{{ project.name }}</p>
            </div>
        {% endif %}
            <div class="p-2 w-75">{{ project.description|safe }}</div>
    </div>

{% endblock %}